#root {
    width: 800px;
    margin: 20px auto;
}

.todo-input {
    resize: none;
    height: 80px;
}

.todo-form .button {
    width: 100px;
    align-self: flex-end;
    margin-top: 20px;
}

.todo-form {
    display: flex;
    flex-direction: column;
}


.todos {
    padding: 0;
}

ul {
    list-style-type: none;
}

.todos li {
    margin-bottom: 10px;
}

.todo {
    background-color: lightgray;
    width: 100%;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.todo .delete-button {
    color: red;
    position: absolute;
    top: 5px;
    right: 5px;
}

.todo .edit-button {
    position: absolute;
    top: 5px;
    right: 38px;
}

.modal {
    position: fixed;
    /*height: 400px;*/
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
}

.overlay {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal .todo-form {
    margin: 40px 20px;
}